[mysql]
MYSQL_USERNAME=hoge
MYSQL_PASSWORD=password
MYSQL_HOST=localhost
MYSQL_DATABASE_NAME=test

[shibboleth]
SHIBBOLETH_USERNAME=b0000000
SHIBBOLETH_PASSWORD=hogefuga

[twitter]
CONSUMER_KEY=xxx
CONSUMER_SECRET=xxx
ACCESS_TOKEN=xxx
ACCESS_SECRET=xxx

[other]
TESTING=false
SCRAPING_INTERVAL=300
LOGIN_FAILURE_TWEET_INTERVAL=1800
DAILY_TWEET_HOUR=7